{% extends "base.html" %}
{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <div class="mt-6">
    {% if users_to_follow %}
        <form method="POST" action="{% url 'follow' %}">
            {% csrf_token %}
            <div class="flex items-center space-x-2 mb-2">
                <select name="user_id" class="p-2 border rounded w-full">
                    <option value="" disabled selected>Sélectionnez un utilisateur</option>
                    {% for user in users_to_follow %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="p-2 bg-blue-500 text-white rounded mb-2">S'abonner</button>
            </div>
        </form>
        {% endif %}
        {% if not users_to_follow %}
            <p class="text-gray-500 mt-4">Vous suivez déjà tous les utilisateurs disponibles.</p>
        {% endif %}
    </div>
    <div class="mb-6">
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Abonnements</h3>
        {% if following %}
            <ul>
                {% for follow in following %}
                <li class="p-2 border-b flex justify-between items-center text-gray-700">
                    {{ follow.followed_user.username }}
                    <form method="POST" action="{% url 'unfollow' follow.id %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="p-1 bg-red-500 text-white rounded">Se désabonner</button>
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500">Vous ne suivez personne pour le moment.</p>
        {% endif %}
    </div>

    <div>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Abonnés</h3>
        {% if followers %}
            <ul>
                {% for follow in followers %}
                    <li class="p-2 border-b text-gray-700">{{ follow.user.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500">Vous n'avez pas encore d'abonnés.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
